@import '../../styles/main';

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 100px;
    border: 3px solid $orange;
    background-color: white;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
        position: absolute;
        width: 50%;
        height: 20px;
        left: 0;
        overflow: hidden;
        background-color: $orange;
        z-index: 1;
    }

    &-label {
        font-size: 13px;
        font-weight: 600;
        color: rgba(black, 0.8);
        z-index: 2;
    }
}
