@import '../../styles/main.scss';

.respond-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $off-white;
    padding-bottom: 15px;

    &-toolbar {
        height: auto;
        padding-top: 36px;
        padding-bottom: 8px;
    }

    &-alert-prompt {
        margin: 0 auto;
        width: initial;
        max-width: 380px;
        margin-bottom: 10px;
    }

    &-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    &-review {
        margin: 0 auto;
        width: initial;
        max-width: 380px;
    }

    &-next-review {
        @extend .respond-page-review;
        opacity: 0.2;
        margin-top: 40px;
        border-top: none !important;
    }

    &-edit-response {
        flex-grow: 1;
        min-height: 80px;
        margin-top: 16px;
        width: 100%;
        padding-top: 8px;
        background-color: white;
        border-top: 0.5px solid $border-color;

        &-content {
            margin: 0 auto;
            max-width: 410px;
            padding-left: 16px;
            padding-right: 16px;
        }

        &-guide-button {
            height: 36px;
            width: 112px;
            background-color: transparent !important;
            border: 1px solid $border-color;
            color: $blue;
            font-size: 12px;
            font-weight: normal;
            box-shadow: none;
        }

        &-form {
            width: 100%;
            padding-top: 8px;
        }

        &-form-submit {
            @extend .respond-page-actions-respond;
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin: 0 auto !important;
            margin-top: 24px !important;
        }

    }

    &-preview-response {
        margin: 0 auto;
        max-width: 380px;
        height: auto;
        width: auto;

        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-top: 2px solid $orange;
        background-color: white;
        padding: 15px;

        &-caption {
            font-weight: 600;
            font-size: 14px;
            color: $grey;
        }

        &-content {
            font-size: 14px;
            line-height: 24px;
            margin: 0;
        }

    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        &-respond {
            width: 116px;
            height: 42px;
            background-color: $orange;
            background-color: #ff4c1d;
            margin-right: 24px;
            margin-left: 24px;
        }

        &-skip {
            width: 26px;
            height: 24px;
            font-size: 12px;
            font-weight: bold;
            line-height: 2;
            text-align: center;
            color: $grey;
            cursor: pointer;
            user-select: none;
            text-decoration: underline;
        }

        &-submit {
            @extend .respond-page-actions-respond;
            width: 222px;
        }
    }

}
