@import '../../styles/main';

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
  margin: 0 auto;

  &-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  &-status {
    text-align: center;
    &-text {
      font-size: 1.4rem !important;
    }
  }

  &-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  &-field {
    width: 100%;
    margin-bottom: 20px;
  }

  &-submit {
    margin-top: 55px;
    width: 80%;
    max-width: 300px;
  }

  &-forgot-link {
    width: 100%;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
  }

  &-signup {
    margin-top: 30px;
    font-size: 0.9rem;

    &-link {
      font-weight: 600;
      margin-left: 5px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
