@import '../../styles/main';

.standard-button {
  height: 50px;
  width: 80%;
  max-width: 300px;
  background-color: #323232;
  color: white;

  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  outline: 0;

  &--disabled {
    opacity: 0.4;
  }
}
