@import '../../styles/main';

.standard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 50px;
  background-color: $grey;
  color: white;

  font-size: 14px;
  font-weight: 600;

  border: none;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  outline: 0;

  &-icon {
    margin-right: 10px;
  }

  &--disabled {
    opacity: 0.4;
  }
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  background-color: white;
  color: $grey;

  font-size: 14px;
  font-weight: 500;

  border: 1px solid #dcdbdf;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  outline: 0;

  &-icon {
    margin-right: 10px;
    height: 16px;
  }

  &--toggled {
    border: 2px solid $blue;
    color: $blue;
  }

  &--disabled {
    opacity: 0.4;
  }
}
