@import '../../styles/main';

.standard-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  background-color: $grey;
  color: white;

  font-size: 14px;
  font-weight: bold;

  border: none;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  outline: 0;

  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);

  &-icon {
    margin-right: 10px;
  }

  &--disabled {
    opacity: 0.4;
  }
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  background-color: white;
  color: $grey;

  font-size: 14px;
  font-weight: 500;

  border: 2px solid $border-color;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  outline: 0;

  &-icon {
    margin-right: 10px;
    height: 16px;
  }

  &--toggled {
    border: 2px solid $blue;
    color: $blue;
  }

  &--disabled {
    opacity: 0.4;
  }
}
