@import '../../styles/main';

.tag-field {
  &-outer {
    position: relative;
    min-height: 45px;
    background-color: $light-grey;
    opacity: 0.8;
    transition: opacity 0.1s;
    border-bottom: 1px solid $light-grey;

    &--shifted {
      opacity: 1;
    }
  }

  &-inner {
    height: 100%;
    width: 100%;
    background-color: $off-white;
    transition: margin-left 0.1s, background-color 0.1s, width 0.1s;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;

    &--shifted {
      width: calc(100% - 8px);
      margin-left: 8px;
      background-color: $off-white;
    }
  }

  &-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-tags {
    width: 100%;
  }

  &-input-container {
    width: 100%;
  }

  &-input {
    padding-left: 5px;
    width: 100%;
  }

  &-input-field {
    width: 100%;
    height: 45px;
    border: none;
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: $off-white;
    font-size: 12px;

    &:focus {
      color: black;
    }

    &::placeholder {
      color: $grey;
      opacity: 1;
    }

    &:invalid {
      box-shadow: none !important;
      -moz-box-shadow: none;
    }
  }

  &-suggestions {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: lighten($grey, 10%);
    color: white;
    border-left: 1px solid #9c969f;
    border-right: 1px solid #9c969f;
    border-bottom: 1px solid #9c969f;
    padding: 0;
    margin: 0;
    z-index: 3;

    li {
      display: flex;
      align-items: center;

      list-style: none;
      font-size: 12px;
      width: 100%;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }

  &-tag {
    background-color: $grey;
    border-radius: 3px;
    padding: 8px 10px 10px 8px;
    font-size: 12px;
    margin-bottom: 6px;
    margin-left: 5px;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;

    .removeClass {
      font-size: 16px;
      padding-left: 8px;
      // padding-bottom: 3px;
    }
  }
}
