@import '../../styles/main';

.profile {
  min-height: 100vh;
  background-color: $off-white;

  &-toolbar {
    height: auto;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: $grey;

    &-title {
      color: white;
    }
  }

  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 60px;
    margin-bottom: 60px;

    background-color: $grey;

    &-container {
      display: grid;
      grid-template-columns: 80px auto;
      grid-column-gap: 18px;
      width: 100%;
      max-width: 680px;
    }

    &-avatar {
      height: 80px;
      width: 80px;
      border: 2px solid white;
      border-radius: 6px;
    }

    &-meta {
      display: flex;
      flex-direction: column;

      &-name {
        font-size: 1.3rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
      }

      &-languages {
        color: #b1b1b3;
        font-size: 0.8rem;
        display: flex;
        align-items: center;

        &-icon {
          margin-right: 5px;
        }
      }
    }

    &-karma {
      height: 62px;
      position: absolute;
      top: calc(100% - 30px);
      left: 18px;
      right: 18px;
      margin: 0 auto;
      max-width: 680px;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      border-radius: 4px;

      &-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-value {
          color: white;
          font-weight: 600;
          font-size: 0.9rem;
          margin-bottom: 5px;
          // background-color: $blue;
          padding: 6px 25px 6px 25px;
          border-radius: 100px;
        }

        &-label {
          color: $grey-light;
          font-size: 11px;
        }

        &:nth-of-type(1) {
          .profile-header-karma-group-value {
            background-color: #ff4c1d;
          }
        }

        &:nth-of-type(2) {
          .profile-header-karma-group-value {
            background-color: #0a84ff !important;
          }
        }

        &:nth-of-type(3) {
          .profile-header-karma-group-value {
            background-color: #292929 !important;
          }
        }

      }

      &-seperator {
        color: rgba(151, 151, 151, 0.3);
      }
    }

  }

  &-awesome-progress {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;

    &-title {
      font-size: 0.9rem;
      font-weight: 600;
    }

    &-bar {
      margin-top: 15px;
    }
  }

  &-edit-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
    margin: 0 auto;
    width: 140px;
    height: 42px;

    color: black;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid $grey;
    font-size: 14px;
  }

  &-response-history {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 40px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      &-title {
        font-size: 0.9rem;
        font-weight: 600;
      }

      &-link {
        font-size: 12pt;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding-bottom: 20px;

      @include for-tablet-landscape-up() {
        grid-template-columns: auto auto;
      }

      &-card {
        width: auto;
      }
    }

  }
}
