@import '../../styles/main';

.profile {
  min-height: 100vh;
  background-color: $off-white;
  padding-left: 20px;
  padding-right: 20px;

  &-toolbar {
    &-back-link {
      font-size: 0.9rem;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &-user-meta {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-edit-button {
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgba(white, 0.55);
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
  }

  &-avatar {
    margin: 80px auto 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-name {
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: 600;
  }

  &-languages {
    margin-top: 15px;
    &-tag {
      font-size: 0.8rem;
      padding-left: 5px;
      padding-right: 5px;
      border-right: 1px solid $grey;

      &:last-of-type {
        padding-right: none;
        border-right: none;
      }
    }
  }

  &-karma {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-top: 20px;

    &-group {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center; 

      &-value {
        font-weight: 600;
        font-size: 0.8rem;
      }

      &-label {
        color: $grey;
        font-size: 0.7rem;
      }
    }
  }

  &-awesome-progress {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 25px;

    &-title {
      font-size: 0.9rem;
      font-weight: 600;
    }

    &-bar {
      margin-top: 15px;
    }
  }

  &-response-history {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 40px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      &-title {
        font-size: 0.9rem;
        font-weight: 600;
      }

      &-link {
        font-size: 12pt;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding-bottom: 20px;

      @include for-tablet-landscape-up() {
        grid-template-columns: auto auto;
      }

      &-card {
        width: auto;
      }
    }

  }
}
