@import '../../styles/main';

.profile {
  min-height: 100vh;
  background-color: #f9f9fa;

  &-toolbar {
    background-color: $grey;
    
    &-title {
      color: white;
    }
  }

  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    
    background-color: $grey;

    &-container {
      display: grid;
      grid-template-columns: 100px auto;
      grid-column-gap: 20px;
      width: 100%;
      max-width: 680px;
    }

    &-avatar {      
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

    &-meta {
      display: flex;
      flex-direction: column;

      &-name {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 10px;
        color: white;
      }
  
      &-languages {
        color: $light-grey;
        font-size: 0.8rem;
      }
    }

    &-karma {
      position: absolute;
      top: calc(100% - 30px);
      left: 10px;
      right: 10px;
      height: 60px;
      margin: 0 auto;
      max-width: 680px;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
      background-color: white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      border-radius: 5px;
  
      &-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; 
  
        &-value {
          color: white;
          font-weight: 600;
          font-size: 0.8rem;
          margin-bottom: 5px;
          // background-color: $blue;
          padding: 2px 8px 4px 8px;
          border-radius: 100px;
        }
  
        &-label {
          color: $grey;
          font-size: 0.7rem;
        }

        &:nth-of-type(1) {
          .profile-header-karma-group-value {
            background-color: #ff4c1d;
          }
        }

        &:nth-of-type(2) {
          .profile-header-karma-group-value {
            background-color: #0a84ff !important;
          }
        }

        &:nth-of-type(3) {
          .profile-header-karma-group-value {
            background-color: #292929 !important;
          }
        }

      }
    }

  }

  &-awesome-progress {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;

    &-title {
      font-size: 0.9rem;
      font-weight: 600;
    }

    &-bar {
      margin-top: 15px;
    }
  }

  &-edit-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    width: 140px;

    color: $grey;
    background-color: transparent;
    border: 2px solid $grey;
    font-size: 15px;
  }

  &-response-history {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    margin-top: 40px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      &-title {
        font-size: 0.9rem;
        font-weight: 600;
      }

      &-link {
        font-size: 12pt;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding-bottom: 20px;

      @include for-tablet-landscape-up() {
        grid-template-columns: auto auto;
      }

      &-card {
        width: auto;
      }
    }

  }
}
