language: python
sudo: false

python:
  - 3.6

stages:
  - lint
  - test

cache:
  pip: true
  yarn: true
  directories:
    - mresponse/frontend/app/node_modules

before_install:
  # Install node using NVM (version in .nvmrc file)
  - nvm install

jobs:
  include:
    - stage: lint
      name: lint back-end
      install: pip install flake8 black
      script:
        - flake8 mresponse
        - black --check mresponse
    - stage: test
      name: test back-end
      addons:
        postgresql: "9.6"
      env:
        - DJANGO_SETTINGS_MODULE=mresponse.settings.production
        - DATABASE_URL=postgres://postgres@localhost/test_db
        - SECRET_KEY=iamnotsosecret
        - ALLOWED_HOSTS=localhost
        - SECURE_SSL_REDIRECT=false
      install:
        - pip install -r requirements.txt
        - cd mresponse/frontend/app
        - yarn install --frozen-lockfile
        - yarn build
        - cd $TRAVIS_BUILD_DIR
      before_script:
        # Create a database
        - psql -c 'create database test_db;' -U postgres
      script:
        - python manage.py check
        - python manage.py makemigrations --check --noinput
        - python manage.py collectstatic --clear --noinput
        - python manage.py test
    - stage: test
      name: test front-end
      install:
        - cd  mresponse/frontend/app
        - yarn install --frozen-lockfile
      script:
        - yarn  build
        - yarn  test --ci
    - stage: lint
      name: lint front-end
      install:
        - cd mresponse/frontend/app
        - yarn install --frozen-lockfile
      script:
        - yarn lint
