html {
  font-size: 16px;

  * {
    font-family: 'Zilla Slab', serif;
  }

  @include for-tablet-landscape-up() {
    font-size: 18px;
  }

  @include for-desktop-up() {
    font-size: 20px;
  }

  @include for-big-desktop-up() {
    font-size: 21px;
  }
}
