$yellow: #f4ca00;
$yellow-light: #FFF44F;
$teal: #54ffbd;
$teal-dark: #3FE1B0;

$grey-lighter: #dcdbdf;
$grey-light: #737373;
$grey: #323232;

$grey-off: #5E5E72;

$blue-lighter: #AAF2FF;
$blue-light: #00DDFF;
$blue: #0060DF;

$off-white: #F9F9FA;

$orange: #FFD5B2; /* ff4c1d */
$orange-dark: #FFA266;

$color-black: #000000;
$primary: #24172a;
$toolbar-color: #2b222f;

$border-color-alt: #D7D7DB;
$border-color: #dcdbdf;
$border-color-dark: #323232;

$background-color: #ededf0;

$placeholder-color: #38383d;

$heading-font: 'Zilla Slab', sans-serif;
$body-font: 'Open Sans';
