$yellow: #f4ca00;
$teal: #54ffbd;
$grey-light: #737373;
$grey: #323232;
$blue: #0a84ff;
$off-white: #F9F9FA;
$orange: #ff4c1d;
$color-black: #000000;

$primary: #24172a;
$toolbar-color: #2b222f;

$border-color: #dcdbdf;
$border-color-dark: #323232;

$background-color: #ededf0;

$placeholder-color: #38383d;

$heading-font: 'Zilla Slab', sans-serif;
$body-font: 'Open Sans';
