// External Imports
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Style Modules
@import 'vars';
@import 'grid';

// Utility styles
.no_scroll {
  overflow: hidden;
}

@keyframes slideInRight {
  from {
    transform: translate3d(120%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}