@import '../../styles/main';

.notice-prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: 200;

  user-select: none;
  padding: 0 16px;
  min-height: 44px;
  background-color: $teal-dark;

  &-item {
    &-text {
      flex: 1 1 auto;

      svg, .icon  {
        margin-right: 14px;
      }

      span {
        color: black;
        font-weight: 600;
        font-size: 1.3rem;
        font-family: $heading-font;
      }
    }

    &-karma {
      display: flex;
      align-items: center;
      flex: 0 0 auto;

      svg, .icon  {
        margin-right: 8px;
        flex: 0 0 auto;
      }

      span {
        flex: 0 0 auto;
        color: black;
        font-weight: 600;
        font-size: 14px;
        // font-family: $heading-font;
      }
    }
  }

  &--success {
    background-color: $teal-dark;
  }

  &--error {
    background-color: $red;
  }
}