@import '../../styles/main';

.form-field {
  &-outer {
    height: 45px;
    background-color: $light-grey  !important;
    opacity: 0.8;
    transition: opacity 0.1s;
    border-bottom: 1px solid $light-grey;

    &--shifted {
      opacity: 1;
    }
  }

  &-inner {
    height: 100%;
    width: 100%;
    background-color: $off-white;
    transition: margin-left 0.1s, background-color 0.1s;

    display: flex;
    flex-direction: row;
    align-items: center;

    &--shifted {
      margin-left: 8px;
      background-color: $off-white;
    }
  }

  &-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    background-color: transparent;
    color: black;

    &:focus {
      color: black;
    }

    &::placeholder {
      color: #adadad;
      opacity: 1;
    }

    &:invalid {
      box-shadow: none !important;
    }
  }
}
