@import '../../styles/main.scss';

.moderate-page {
    min-height: 100vh;
    background-color: $off-white;
    padding-bottom: 15px;

    &-toolbar {
        height: auto;
        padding-top: 35px;
        padding-bottom: 20px;
    }

    &-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    &-alert-prompt {
        margin: 0 auto;
        width: initial;
        max-width: 380px;
        margin-bottom: 10px;
    }

    &-response {
        margin: 0 auto;
        width: initial;
        max-width: 380px;
    }

    &-form {
        margin: 0 auto;
        width: initial;
        max-width: 380px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-top: 2px solid $blue;
        background-color: white;
        padding: 16px;
        padding-top: 8px;
        padding-bottom: 5px;
        margin-top: 8px;

        &-row {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

            &-title {
              font-size: 14px;
              line-height: 24px;
              margin-bottom: 5px;
            }

            &-emphasis {
              font-weight: 700;
            }

            &-buttons {
              display: flex;
              flex-direction: row;

              .toggle-button {
                margin-right: 16px;
              }
            }

            &-karma {
              text-align: center;
              width: 216px;
              margin: 0 auto;

              &-label {
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 14px;
                font-weight: 700;
              }

              &-slider {
                margin-top: 10px;
              }
            }
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;

        &--form {
          margin-bottom: 10px;
        }

        &-moderate {
            height: 42px;
            width: 116px;
            background-color: $blue;
            font-weight: 700;
            font-size: 14px;
            margin-right: 30px;
            margin-left: 30px;
        }

        &-skip {
            font-weight: 700;
            cursor: pointer;
            user-select: none;
            text-decoration: underline;
        }
    }

}
