@import '../../styles/main';

.respond-card {
    width: 350px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid $orange;
    background-color: white;
    padding: 16px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-image {
            height: 40px;
            width: 40px;
            margin-right: 11px;
            margin-bottom: 6px;
            flex: 0 0 40px;
        }

        &-row-container {
            width: 100%;
        }

        &-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6px;
        }

        &-title {
            font-weight: 600;
            font-size: 12px;
            color: $grey;
        }

        &-meta {
            font-size: 12px;
            color: $grey-light;
            line-height: 1.5;
            letter-spacing: normal;
        }

    }

    &-comment {
        font-size: 14px;
        line-height: 1.71;
        color: $grey;
        margin: 0;
        margin-top: 6px;
        margin-bottom: 7px;
    }

    &-footer {
        font-size: 14px;
        padding-bottom: 16px;
        padding-bottom: 18px;

        &-date {
            float: left;
            font-size: 12px;
            color: $grey-light;
            line-height: 1.5;
        }

        &-expand {
            float: right;
            font-weight: 600;
            user-select: none;
            cursor: pointer;
        }
    }
}
