.home-page-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 180px;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;

    &-dot {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;
        width: 50px;
        border-radius: 100%;
        margin-bottom: 10px;
    }

    &-title {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &-subtitle {
        font-size: 0.95rem;
        font-weight: 300;
        color: #737373;
    }

}