@import '../../styles/main';

.settings {
  min-height: 100vh;
  padding-bottom: 40px;
  background-color: $off-white;

  &-toolbar {
    
    &-done-link {
      margin-right: 10px;
      font-size: 0.9rem;
      text-align: center;
      cursor: pointer;
      font-weight: 600;
      
      &:hover {
        text-decoration: underline;
      }
    }

    &-title {
      width: 200px;
    }

    &-back-link {
      font-size: 0.9rem;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &-user-meta {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-edit-button {
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgba(black, 0.55);
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
  }

  &-avatar {
    margin: 80px auto 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-name {
    font-size: 1.3rem;
    margin-top: 15px;
  }

  &-languages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    &-tag {
      user-select: none;
      background-color: $grey;
      color: white;
      border-radius: 3px;
      font-size: 0.8rem;
      padding: 5px 8px;
      margin: 5px;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
    max-width: 800px;

    &-status {
      margin-bottom: 20px;
      text-align: center;

      &-text {
        font-size: 1.4rem !important;
      }
    }

    &-row {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      overflow: scroll;
      
      &-input {
        flex: 1;
      }

      &-label {
        display: block;
        height: 50px;
        width: 100px;

        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}
