@import '../styles/vars';
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

.welcome-page {
	height: 100vh;
	width: 100vw;
	background-color: $primary;
	font-family: 'Zilla Slab', serif;

	display: flex;
	align-items: center;
	justify-content: center;

	.mozilla-logo {
		user-select: none;
		position: absolute;
		top: 35px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 90px;
	}

	.page-content {
		text-align: center;
	}

	.brand-container {
		margin-bottom: 60px;
		text-align: center;
		.text-logo {
			font-size: 20pt;
			font-weight: 100;
			color: white;
		}
	}

	.info-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.tagline {
			background-color: white;
			color: $primary;
			font-size: 26pt;
			padding-left: 10px;
			padding-right: 10px;
		}

		.info-desc  {
			max-width: 600px;
			text-align: center;
			color: white;
			font-size: 16pt;
			margin: 30px;
		}
	}

	.continue-button {
		height: 50px;
		background-color: white;
		width: 80%;
		max-width: 300px;
		margin-top: 60px;
		border: none;
		border-radius: 5px;
		user-select: none;
		cursor: pointer;
		font-family: Zilla Slab, Sans;
		font-size: 15pt;
		font-weight: 600;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100vw;
		padding: 30px;
		color: rgba(white, 0.4);
		font-size: 13pt;
		text-align: center;
		.footer-link {
			color: rgba(white, 0.4);
		}

	}

}
