.avatar {
  height: 80px;
  width: 80px;
  position: relative;
  user-select: none;

  &-img {
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: 0.1s opacity;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4A4A4F;
    border-radius: 4px;
    transition: 0.1s opacity;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &-icon {}
  }

  &-karma {
    position: absolute;
    bottom: 0px;
    right: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 25px;
    min-width: 40px;
    background-image: linear-gradient(to bottom, #292929, black);
    border-radius: 25px;

    &-icon {
      margin: 5px;
    }

    &-value {
      color: white;
      font-size: 10pt;
      font-weight: 600;
      margin-right: 10px;
    }

  }

}
