{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@root": "./src",
          "@styles": "./src/styles",
          "@pages": "./src/pages",
          "@components": "./src/components",
          "@redux": "./src/redux",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
