@import '../../styles/main';

.toolbar {
  height: 75px;
  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  &-right {
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  &-logo {
    user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 4rem;
  }

  &-title {
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    user-select: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 4rem;
  }
}
