@import '../../styles/main';

.toolbar {
  width: 100%;
  min-height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    min-width: 14px;
    height: 100%;
    min-height: 14px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  &-right {
    min-width: 14px;
    height: 100%;
    min-height: 14px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    &-help-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;

      svg {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }

  &-back-link {
    color: white;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &--inverted {
      filter: invert(1);
    }
  }

  &-title {
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: $heading-font;
    user-select: none;
    text-align: center;
    margin: 0 auto;
    width: auto;
    flex: 1 1 100%;

    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
