@import '../../styles/main';

.toolbar {
  width: 100%;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    min-width: 14px;
    height: 100%;
    min-height: 14px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  &-right {
    min-width: 14px;
    height: 100%;
    min-height: 14px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }

  &-back-link {
    color: white;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &--inverted {
      filter: invert(1);
    }
  }

  &-title {
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: $heading-font;
    user-select: none;
    text-align: center;
    // position: absolute;
    // left: 0;
    // right: 0;
    margin: 0 auto;
    width: auto;
    flex: 1 1 100%;
  }
}
