@import '../../styles/main';

.toolbar {
  height: 75px;
  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    height: 100%;
    margin-left: 16px;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  &-right {
    height: 100%;
    margin-right: 18px;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  &-back-link {
    color: white;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &--inverted {
      filter: invert(1);
    }
  }

  &-title {
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: $heading-font;
    user-select: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
  }
}
