@import './styles/main.scss';

html {
    font-size: 11pt;
  
    * {
        font-family: 'Open Sans', serif;
    }

    @include for-tablet-landscape-up() {
        font-size: 12pt;
    }

    @include for-desktop-up() {
        font-size: 13pt;
    }

    @include for-big-desktop-up() {
        font-size: 13pt;
    }
}
  