@import './styles/main.scss';

html {
    font-size: 12px;

    * {
        font-family: $body-font;
    }

    @include for-tablet-landscape-up() {
        font-size: 13px;
    }

    // @include for-desktop-up() {
    //     font-size: 14px;
    // }

    // @include for-big-desktop-up() {
    //     font-size: 14px;
    // }
}
