@import '../../styles/main';

.profile {
  min-height: 100vh;
  background-color: $primary;

  &-toolbar {
    &-logout-link {
      font-size: 0.8rem;
      text-align: center;
      cursor: pointer;
      text-decoration: underline;
      color: $grey;
    }

    &-back-link {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }

  &-user-meta {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-edit-button {
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgba(white, 0.55);
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
  }

  &-avatar {
    margin: 80px auto 0;
    padding: 5px;
    border-radius: 100%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-name {
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  &-karma {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    @include for-tablet-landscape-up() {
      flex-direction: row;
    }

    &-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      &-header {
        background-color: $teal !important;
        box-shadow: 0.3rem 0 0 $teal, -0.3rem 0 0 $teal;
        font-size: 1rem;
        color: $primary;
        font-weight: 900;
        padding-left: 10px;
        padding-right: 10px;
      }

      &-amount {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;

        &:after {
          content: ' ';
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          margin: 20px auto 0;
          height: 1px;
          width: 25%;
          border-bottom: 1px solid $grey;
        }

        &-value {
          color: white;
          font-size: 2.5rem;
        }

        &-label {
          color: $grey;
          font-size: 0.8rem;
          margin-top: 15px;
        }
      }

      &-responses {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 40px;

        &-value {
          color: white;
          font-size: 1.5rem;
        }

        &-label {
          color: $grey;
          font-size: 0.8rem;
          margin-top: 10px;
          text-align: center;
        }
      }

      &--left {
        border-right: 1px solid $grey;
        //border-bottom: 1px solid $grey
      }

      &--right {
        .profile-karma-box-header {
          background-color: $yellow !important;
          box-shadow: 0.3rem 0 0 $yellow, -0.3rem 0 0 $yellow;
        }
      }
    }
  }
}
