
.signup-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  &-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  &-status {
    text-align: center;
    &-text {
      line-height: 2rem !important;
      font-size: 1.2rem !important;
    }
  }

  &-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  &-field {
    width: 100%;
    margin-bottom: 20px;
  }

  &-submit {
    margin-top: 55px;
  }
}
