@import "../../styles/main";

.signup-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  &-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &-subtitle {
    font-size: 14px;
    color: $grey-light;
    margin-bottom: 28px;
  }

  &-status {
    text-align: center;
    &-text {
      line-height: 2rem !important;
      font-size: 1.2rem !important;
    }
  }

  &-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }

  &-field {
    width: 100%;
    margin-bottom: 18px;
  }

  &-submit {
    margin-top: 208px;
    font-weight: 600;
    width: 116px !important;
    height: 42px !important;
  }
}
