@import '../../styles/main';

.highlighted-text-container {
  display: inline;
}

.highlighted-text {
  color: $off-white;
  font-size: 1.8rem;
  box-shadow: 0.3rem 0 0 black, -0.3rem 0 0 black;
  background-color: black;
  line-height: 2.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
