@import '../../styles/main';

.moderate-card {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-top: 2px solid $blue-light;
    background-color: white;
    padding: 15px;
    
    &, * {
        box-sizing: border-box;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-image {
            height: 40px;
            width: 40px;
            margin-right: 11px;
            margin-bottom: 6px;
            flex: 0 0 40px;
        }

        &-row-container {
            width: 100%;
        }

        &-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2px;
        }

        &-title {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $grey;
        }

        &-meta {
            font-size: 12px;
            color: $grey-light;
        }

    }

    &-review {
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;

        &-comment {
            max-height: 90px;
            overflow: hidden;
            font-size: 14px;
            line-height: 24px;
            color: $grey;
            margin-top: 11px;
            margin-bottom: 7px;

            &-text {
                padding: 0;
                margin: 0;
            }

            &--expanded {
                height: auto;
            }
        }

        &-footer {
            font-size: 12px;
            // padding-top: 10px;
            padding-bottom: 15px;

            &-date {
                float: left;
                font-weight: 500;
                color: $grey-light;
            }
        }
    }

    &-response {
        padding-top: 10px;
        font-size: 14px;

        &-title {
            font-weight: 700;
            color: $grey;
        }

        &-comment {
            padding: 0;
            margin: 0;
            margin-top: 3px;
            margin-bottom: 5px;
            line-height: 24px;
        }

        &-footer {
            font-size: 12px;
            padding-bottom: 15px;

            &-date {
                float: left;
                color: $grey-light;
            }
        }
    }


    &-expand-trigger {
        margin-left: 5px;
        text-decoration: underline;
        color: $blue;
        font-weight: 600;
        cursor: pointer;
    }
}
