@import '../../styles/main';

.moderate-card {
    width: 100%;
    height: auto;
    border-radius: 3px;
    border-top: 2px solid $blue-light;
    border-bottom: 2px solid $border-color-alt;
    background-color: white;

    &, * {
        box-sizing: border-box;
    }

    &-main {
        padding: 15px;
        border-right: 1px solid $background-color;
        border-left: 1px solid $background-color;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-image {
            height: 40px;
            width: 40px;
            margin-right: 11px;
            margin-bottom: 6px;
            flex: 0 0 40px;
        }

        &-row-container {
            width: 100%;
        }

        &-row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2px;
        }

        &-title {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $grey;
        }

        &-meta {
            font-size: 12px;
            color: $grey-light;
        }

    }

    &-review {
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;

        &-comment {
            max-height: 90px;
            overflow: hidden;
            font-size: 14px;
            line-height: 24px;
            color: $grey;
            margin-top: 11px;
            margin-bottom: 7px;

            &-text {
                padding: 0;
                margin: 0;
            }

            &--expanded {
                height: auto;
            }
        }

        &-footer {
            font-size: 12px;
            padding-bottom: 15px;

            &-date {
                float: left;
                font-weight: 500;
                color: $grey-light;
            }
        }
    }

    &-response {
        padding-top: 10px;
        font-size: 14px;

        &-title {
            font-weight: 700;
            color: $grey;
        }

        &-comment {
            padding: 0;
            margin: 0;
            margin-top: 3px;
            margin-bottom: 5px;
            line-height: 24px;
        }

        &-footer {
            font-size: 12px;
            padding-bottom: 15px;

            &-date {
                float: left;
                color: $grey-light;
            }
        }
    }

    &-footer {
        font-size: 12px;
        padding: 6px 15px;
        background-color: $background-color;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        &-modCount {
            display: flex;
            align-items: center;
            color: $placeholder-color;

            &-item {
                width: 18px;
                height: 18px;
                border: 1px solid $placeholder-color;
                border-radius: 999px;
                margin-right: 3px;
                margin-left: 3px;
                position: relative;

                &:first-child {
                margin-left: 0;
                }

                svg {
                position: absolute;
                top: -1px;left: -1px;
                display: block;
                width: 18px;
                height: 18px;
                }
            }

            &-label {
                font-weight: bold;
                margin-left: 8px;
            }

            &-karma {
                flex: 1 1 auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                &-inner {
                    flex: 0 0 auto;
                    display: flex;
                    align-items: center;

                    span {
                        margin-left: 4px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
