@import '../../styles/main';

.review-card {
  appearance: none;
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  display: block;

  width: 100%;
  height: auto;
  border-radius: 4px;
  border-top: 2px solid $blue-light;
  border-bottom: 2px solid $border-color-alt;
  background-color: white;

  &, * {
    box-sizing: border-box;
  }

  &-response {
    font-size: 14px;
    border-left: 2px solid $background-color;
    border-right: 2px solid $background-color;
    padding: 8px 14px;

    &-title {
      font-weight: 700;
      color: $grey;
    }

    &-comment {
      padding: 0;
      margin: 0;
      margin-top: 3px;
      margin-bottom: 5px;
      line-height: 24px;
    }
  }

  &-footer {
    font-size: 12px;
    padding: 6px 15px;
    background-color: $background-color;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

    &-modCount {
      display: flex;
      align-items: center;
      color: $placeholder-color;

      &-item {
        width: 18px;
        height: 18px;
        border: 1px solid $placeholder-color;
        border-radius: 999px;
        margin-right: 3px;
        margin-left: 3px;
        position: relative;

        &:first-child {
          margin-left: 0;
        }

        svg {
          position: absolute;
          top: -1px;left: -1px;
          display: block;
          width: 18px;
          height: 18px;
        }
      }

      &-label {
        font-weight: bold;
        margin-left: 8px;
      }

      &-karma {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-inner {
          flex: 0 0 auto;
          display: flex;
          align-items: center;

          span {
            margin-left: 4px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
