@import '../../styles/main.scss';

.leaderboard {
  width: 100%;

  &-title {
    text-align: center;
    font-family: $heading-font;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
  }

  &-podium {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 328px;
    margin: 0 auto;
    padding: 0 44px 8px;

    .leader {
      width: 80px;
      flex: 0 0 auto;

      // Put the top user in the middle
      &:nth-child(1) { order: 2; }
      &:nth-child(2) { order: 1; }
      &:nth-child(3) { order: 3; }
    }
  }

  &-list {
    & > .leader {
      border-top: 1px solid $border-color;

      &:last-child {
        border-bottom: 1px solid $border-color;
      }
    }
  }
}
