@import '../../styles/main';

.login-page {
  height: 100vh;
  background-color: $off-white;

  display: flex;
  align-items: center;
  flex-direction: column;

  .toolbar {
    height: auto;
    width: 100%;
    padding-top: 46px;
    padding-bottom: 2em;
    background-color: $off-white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-back {
      display: none;
      margin-left: 20px;
      font-weight: 700;
      filter: invert(1);

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-logo {
      user-select: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 84px;
    }
  }

  &-content {
    width: 100%;
    max-width: 600px;
  }
}
