@import '../../styles/main';

.login-page {
  height: 100vh;
  background-color: $off-white;

  display: flex;
  align-items: center;
  flex-direction: column;
  // color: black;

  .toolbar {
    height: 75px;
    width: 100%;
    background-color: $off-white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-back {
      margin-left: 20px;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-logo {
      user-select: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 6rem;
    }
  }

  &-content {
    width: 100%;
    max-width: 800px;
    margin-top: 60px;
  }
}
