@import '../../styles/main.scss';

.home-page {
    background-color: $off-white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &-header {
        display: grid;
        grid-template-columns: auto 60px;

        height: 195px;
        padding: 16px;
        padding-top: 50px;
        background-color: $grey;
        flex: 0 0 auto;

        &-logo {
            width: 100px;
            height: auto;
        }

        &-avatar {
            cursor: pointer;
            width: 54px;
            height: 54px;
        }
    }

    &-wrap {
        margin-top: -80px;
        padding: 0 16px;
        box-sizing: border-box;
        height: 100%;
        flex: 1 1 auto;
        width: 100%;
        max-width: 400px;

        display: flex;
        flex-direction: column;
        align-self: center;

        * {
            box-sizing: border-box;
        }
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        max-width: 400px;
        width: 100%;
        flex: 0 0 auto;

        @include for-desktop-up  {
            grid-template-columns: 1fr 1fr;
            max-width: 420px;
        }
    }

    &-leaderboard {
        grid-column: 1 / span 2;
    }

    &-card {
        width: 100% !important;
        min-width: 0;
    }

    &-footer {
        max-width: 400px;
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0 25px;
            width: 100%;
        }

        &-link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $grey;
            font-size: 13px;
            text-align: center;
            cursor: pointer;

            &-w-icon {
                span {
                    text-decoration: underline;
                }

                svg {
                    margin: 0px 4px;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }

}
