@import '../../styles/main.scss';

.home-page {
    background-color: $off-white;

    &-header {
        display: grid;
        grid-template-columns: auto 60px;

        height: 195px;
        padding: 16px;
        padding-top: 50px;
        background-color: $grey;

        &-logo {
            width: 100px;
            height: auto;
        }

        &-avatar {
            cursor: pointer;
            width: 54px;
            height: 54px;
        }

    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        max-width: 400px;
        margin: 0 auto;
        position: absolute;
        top: 180px;
        right: 16px;
        left: 16px;

        @include for-desktop-up  {
            grid-template-columns: 1fr 1fr;
            max-width: 420px;
        }
    }

    &-leaderboard {
        grid-column: 1 / span 2;
    }

    &-card {
        width: 100% !important;
        min-width: 0;
    }

    &-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 400px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-around;

        padding-bottom: 25px;

        &-link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: $grey;
            font-size: 13px;
            width: 100%;
            text-align: center;
            cursor: pointer;

            &-icon-question {
                padding: 0px 4px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }

}
