.forgot-form {
  display: flex;
  align-items: center;
  flex-direction: column;

  &-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: white;
  }

  &-status {
    text-align: center;

    &-text {
      font-size: 1.4rem !important;
    }
  }

  &-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-field {
    width: 100%;
    &:first-child {
      border-bottom: 1px solid #9c969f;
    }
  }

  &-submit {
    margin-top: 55px;
  }

  &-forgot-link {
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    color: white;
    user-select: none;
  }
}
