.logo {
  height: 70px;
  width: 70px;
  border-radius: 20%;
  background-image: linear-gradient(to bottom, #fad961, #f76b1c);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #24172a;
  font-size: 24pt;
  font-weight: 700;
}
